@import 'src/styles'

.app-container
  @media screen and (min-width: 1024px)
    display: grid
    gap: 1em
    margin-left: 2%
    width: 90%

.left-column
  @media screen and (min-width: 1024px)
    background-color: rgba(9,77,66,255)
    border-radius: 10px
    grid-column: 1 / 4
    grid-row: 1

.right-column
  @media screen and (min-width: 1024px)
    grid-column: 4 / 20
    grid-row: 1

.not-rendered
  display: none

.rendered
  overflow: hidden
  display: block

.pressed
  transform: scale(0.95)
  transition: transform 0.1s

.rsm-el-ctr
  @include content-not-touching-parent()
  overflow: hidden

.rsm-el-shown
  transform: translateY(0)
  transform-origin: top center
  transition: transform 1s ease-out

.rsm-el-title
  @include def-title()
  @include noselect()
  
  @media screen and (min-width: 1024px)
    color: rgba(255, 255, 255, 1)
    font-size: 1.4em
    border-bottom-color: rgba(255, 255, 255, 1)
    border-bottom-width: 0.1em
    border-bottom-style: solid
    margin-left: 1%
    padding-left: 2%
    text-align: left
    width: 95%
  
  @media screen and (max-width: 1023px)
    background-color: rgba(9,77,66,255)
    border-radius: 0.2em
    color: rgba(255, 255, 255, 1)
    height: 1.5em
    padding-left: 1%
    padding-top: 0.2em
    text-align: left
    width: 100%