<h1 appPortfolioRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appPortfolioRsmEl>
    <div class="rsm-el-seg">
      <div class="rsm-el-seg-card">
        <img class="rsm-el-seg-card-thumbnail" src="none" alt="Stock Counselor thumbnail">
        <hr>
        <h2 class="rsm-el-seg-title">
          2019, Dec - Present: Stock Counselor
        </h2>
        <p>
          <span class="rsm-el-def-txt">
            An automated web application for long-term investment research
          </span>
        </p>
      </div>
    </div>
    <div class="rsm-el-seg">
      <div class="rsm-el-seg-card">
        <img class="rsm-el-seg-card-thumbnail" src="none" alt="AI War Game thumbnail">
        <hr>
        <h2 class="rsm-el-seg-title">
          2019, Jun - 2019, Aug: AI War Game
        </h2>
        <p>
          <span class="rsm-el-def-txt">
            A duel between two teams led by the CPU
          </span>
        </p>
      </div>
    </div>
  </div>
</div>