<h1 appPortfolioRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appPortfolioRsmEl>
    <div class="portfolio-seg">
      <div class="card">
        <img class="thumbnail" src="none" alt="Stock Counselor thumbnail">
        <hr>
        <h2 class="title">
          2019, Dec - Present: Stock Counselor
        </h2>
        <p>
          <span class="def-text">
            An automated web application for long-term investment research
          </span>
        </p>
      </div>
    </div>
    <div class="portfolio-seg">
      <div class="card">
        <img class="thumbnail" src="none" alt="AI War Game thumbnail">
        <hr>
        <h2 class="title">
          2019, Jun - 2019, Aug: AI War Game
        </h2>
        <p>
          <span class="def-text">
            A duel between two teams led by the CPU
          </span>
        </p>
      </div>
    </div>
  </div>
</div>