@import 'src/app/app.component'

.portfolio-seg
  @include inline-content-aligned-horizontally()
  
  @media screen and (min-width: 1024px)
    width: 45%
    margin-right: 2%
  
  .card
    text-align: center
    box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.2)
    margin-bottom: 2.5em
    padding-left: 2em
    padding-right: 2em
    min-height: 20em

    .title
      @include def-sub-title()
      margin-bottom: 0em
    
    .thumbnail
      width: 100%

  .def-text
    @include def-text()

.rsm-el-not-shown
  @include offset-to-top(20em)

.rsm-el-shown
  @include inline-content-aligned-vertically()
  flex-wrap: wrap

.rsm-el-title
  @media screen and (min-width: 1024px)
    border-bottom-color: rgba(0, 0, 0, 1)
    color: rgba(0, 0, 0, 1)