<h1 appPortfolioRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appPortfolioRsmEl>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">Stock Counselor</h2>
      <ul class="rsm-el-seg-tech-ctr">
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://bottlepy.org/docs/dev/">Bottle Web Framework</a>
          </span>
        </li>
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://www.python.org/">Python3</a>
          </span>
        </li>
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://www.rabbitmq.com/">RabbitMQ</a>
          </span>
        </li>
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://www.mongodb.com">MongoDB</a>
          </span>
        </li>
      </ul>
    </div>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">AI Duelling Game</h2>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://www.python.org/">Python3</a>
          </span>
        </li>
        <li class="rsm-el-seg-ctr-sticky-note">
          <span class="rsm-el-def-txt">
            <a href="https://www.ibm.com/cloud/learn/what-is-artificial-intelligence">
              Artificial Intelligence logic
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>