<h1 appEducationRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appEducationRsmEl>
    <div class="education-seg">
      <h2 class="title">
        <span class="material-icons title-icon">
          school
        </span>
        <span>
          2016 - Present: Software Engineering BSc at Afeka Engineering College
        </span>
      </h2>
      <ul class="curiculum">
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">High Mathematics & Physics</span>
        </li>
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">Object Oriented Design & Programming</span>
        </li>
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">Compilation, Operating Systems, Network</span>
        </li>
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">Relational Databases</span>
        </li>
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">
            Design & Algorithm Analysis, Artificial Intelligence
          </span>
        </li>
        <li class="subject">
          <span class="material-icons subject-icon">
            verified
          </span>
          <span class="def-text">Computational & Mathematical Logic</span>
        </li>
      </ul>
    </div>
  </div>
</div>
