<h1 appEducationRsmElTitle>Education</h1>
<div class="rsm-el-ctr">
  <div appEducationRsmEl>
    <h2 class="rsm-el-seg-title">
      2016 - Present: Software Engineering BSc at Afeka Engineering College
    </h2>
    <ul class="rsm-el-seg-ctr">
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">High Mathematics & Physics</span>
      </li>
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">Object Oriented Design & Programming</span>
      </li>
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">Compilation, Operating Systems, Network</span>
      </li>
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">Relational Databases</span>
      </li>
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">
          Design & Algorithm Analysis, Artificial Intelligence
        </span>
      </li>
      <li class="rsm-el-seg-bullet">
        <img src="" alt="Bullet">
        <span class="rsm-el-seg-lbl-txt">Computational & Mathematical Logic</span>
      </li>
    </ul>
  </div>
</div>
