<h1 appEducationRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appEducationRsmEl>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">
        <span class="material-icons rsm-el-seg-title-icon">
          school
        </span>
        <span>
          2016 - Present: Software Engineering BSc at Afeka Engineering College
        </span>
      </h2>
    </div>
    <ul class="rsm-el-seg-ctr">
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">High Mathematics & Physics</span>
      </li>
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">Object Oriented Design & Programming</span>
      </li>
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">Compilation, Operating Systems, Network</span>
      </li>
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">Relational Databases</span>
      </li>
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">
          Design & Algorithm Analysis, Artificial Intelligence
        </span>
      </li>
      <li class="rsm-el-seg-ctr-item">
        <span class="material-icons rsm-el-seg-ctr-item-icon">
          verified
        </span>
        <span class="rsm-el-def-txt">Computational & Mathematical Logic</span>
      </li>
    </ul>
  </div>
</div>
