@import 'src/app/app.component'

.ent-exp-seg
  @include inline-content-aligned-horizontally()
  
  .def-text
    @include def-text()
  
  .responsibilities
    @include inline-content-aligned-horizontally()
    @include content-not-touching-parent()
  
  .responsibility
    @include inline-content-aligned-vertically()
    list-style-type: none
    margin-bottom: 1em
    width: 100%

  .responsibility-icon
    color: rgb(80, 187, 83)
    font-size: 1.7em
  
  .sw-tools
    @include inline-content-aligned-vertically
    justify-content: space-between
    flex-wrap: wrap
    max-width: 35em
  
  .sw-tool
    height: 6em
    list-style-type: none
    margin-bottom: 0.5em
    margin-right: 0.5em
    margin-left: 0.5em
    text-align: center
    perspective: 10em
    transform-style: preserve-3d
    transition: transform 0.8s
    width: 6em

    .back, .front
      backface-visibility: hidden
      height: 100%
      position: absolute
      width: 100%
      -webkit-backface-visibility: hidden /* Safari */
    
    .back
      line-height: 4em
      transform: rotateX(180deg)
      font-family: 'Yanone Kaffeesatz', sans-serif
      font-size: 1.3em
      font-weight: 650

    .front
      @include image-alt()

      img
        height: 100%
        width: 100%

  .sw-tool:hover
    transform: rotateX(180deg)
  
  .title
    @include inline-content-aligned-vertically()
    @include def-sub-title()
    margin-bottom: 0em

  .title-icon
    color: rgb(109, 128, 158)
    font-size: 2em

.rsm-el-not-shown
  @include offset-to-top(30em)

.rsm-el-shown
  @include inline-content-aligned-horizontally()