<h1 appEntExpRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appEntExpRsmEl>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">
        <span class="material-icons rsm-el-seg-title-icon">
          assignment
        </span>
        <span>
          2020 - Present: IBM - SaaS QA Automation Engineer
        </span>
      </h2>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Maintaining Automation Framework source code</span>
        </li>
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Maintaining Automation Workers</span>
        </li>
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Contributing new features to the Automation Framework</span>
        </li>
      </ul>
      <ul class="rsm-el-seg-tech-ctr">
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="Ruby on Rails">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            Ruby On Rails 5.x
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="Ruby 2.x">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            Ruby 2.x
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="HTTP">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            HTTP
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="JSON">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            JSON
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="AngularJS">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            AngularJS
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="HTML">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            HTML
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="CSS">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            CSS
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="JavaScript">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            JavaScript
          </div>
        </li>
      </ul>
    </div>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">
        <span class="material-icons rsm-el-seg-title-icon">
          assignment
        </span>
        <span>
          2017 - 2020: IBM - SaaS QA Automation Student Position
        </span>
      </h2>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Testing Backend API</span>
        </li>
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Testing Prediction Algorithms</span>
        </li>
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Testing Frontend features</span>
        </li>
        <li class="rsm-el-seg-ctr-item">
          <span class="material-icons rsm-el-seg-ctr-item-icon">
            check_circle
          </span>
          <span class="rsm-el-def-txt">Contributing tests to the Automation Framework</span>
        </li>
      </ul>
  </div>
  </div>
</div>