<h1 appEntExpRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appEntExpRsmEl>
    <div *ngFor="let position of positions" class="ent-exp-seg">
      <h2 class="title">
        <span class="material-icons title-icon">
          assignment
        </span>
        <span>
          {{position.start}} - {{position.end}}: {{position.title}}
        </span>
      </h2>
      <ul *ngIf="position.hasResponsibilities()" class="responsibilities">
        <li *ngFor="let responsibility of position.responsibilities" class="responsibility">
          <span class="material-icons responsibility-icon">
            check_circle
          </span>
          <span class="def-text">{{responsibility}}</span>
        </li>
      </ul>
      <ul *ngIf="position.hasSoftwareTools()" class="sw-tools">
        <li *ngFor="let tool of position.softwareTools" class="sw-tool">
          <div class="front">
            <img [src]=pngSrcFromBase64(tool.icon.src) alt="tool.icon.alt">
          </div>
          <div class="back">
            <a [href]=tool.link>{{tool.name}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>