<h1 appEntExpRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appEntExpRsmEl>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">
        2020 - Present: IBM, Trusteer - Software Developer in QA Automation Team
      </h2>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Maintaining Automation Framework source code</span>
        </li>
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Maintaining Automation Workers</span>
        </li>
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Contributing new features to the Automation Framework</span>
        </li>
      </ul>
      <ul class="rsm-el-seg-tech-ctr">
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="Ruby on Rails">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            Ruby On Rails 5.x
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="Ruby 2.x">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            Ruby 2.x
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="HTTP">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            HTTP
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="JSON">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            JSON
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="AngularJS">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            AngularJS
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="HTML">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            HTML
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="CSS">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            CSS
          </div>
        </li>
        <li class="rsm-el-seg-tech-ctr-item">
          <div class="rsm-el-seg-tech-ctr-item-front">
            <img src="replace_me.png" alt="JavaScript">
          </div>
          <div class="rsm-el-seg-tech-ctr-item-back">
            JavaScript
          </div>
        </li>
      </ul>
    </div>
    <div class="rsm-el-seg">
      <h2 class="rsm-el-seg-title">
        2017 - 2020: IBM, Trusteer - QA Automation Student Position
      </h2>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Testing Backend API</span>
        </li>
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Testing Prediction Algorithms</span>
        </li>
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Testing Frontend features</span>
        </li>
        <li class="rsm-el-seg-bullet">
          <span class="rsm-el-def-txt">Contributing tests to the Automation Framework</span>
        </li>
      </ul>
  </div>
  </div>
</div>