@import 'src/app/app.component'

.contact-info-seg .contact-info-chips .contact-info-chip
  align-items: center
  display: inline-flex
  height: 3em
  padding-right: 1em
  border-radius: 3em
  background-color: #f1f1f1
  margin-bottom: 0.5em
  
  .def-txt
    @include def-text()
  
  .thumbnail
    border-color: #f1f1f1
    border-radius: 50%
    height: 90%
    width: 3em
    margin-right: 1em

.rsm-el-not-shown
  @include offset-to-top(10em)