@import 'src/app/app.component'

.contact-info-chips
  @include content-not-touching-parent()
  
  .contact-info-chip
    @include image-alt()
    align-items: center
    display: inline-flex
    height: 3em
    padding-right: 1em
    border-radius: 3em
    margin-bottom: 0.5em
  
    .def-text
      @include def-text()
    
    .thumbnail
      border-color: #f1f1f1
      width: 3em
      height: 3em
      margin-right: 1em

.rsm-el-not-shown
  @include offset-to-top(10em)