<h1 appContactInfoRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appContactInfoRsmEl>
    <div class="contact-info-seg">
      <ul class="contact-info-chips">
        <li class="contact-info-chip">
          <img class="thumbnail" src="what" alt="LinkedIn icon">
          <span class="def-txt">
            <a href="https://www.linkedin.com/in/maxim-ch/">
            LinkedIn
            </a>
          </span>
        </li>
        <li class="contact-info-chip">
          <img class="thumbnail" src="what" alt="Gmail icon">
          <span class="def-txt">
            maxchanturiay@gmail.com
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
