<h1 appContactInfoRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appContactInfoRsmEl>
    <div class="rsm-el-seg">
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          I am fluent in English, Russian and Hebrew.
        </span>
        <span class="rsm-el-def-txt">
          Feel free to contact me in either one of them at
        </span>
      </p>
      <ul class="rsm-el-seg-ctr">
        <li class="rsm-el-seg-bullet">
          <img src="" alt="linkedin-icon">
          <span class="rsm-el-seg-lbl-txt">
            <a href="https://www.linkedin.com/in/maxim-ch/">LinkedIn</a>
          </span>
        </li>
        <li class="rsm-el-seg-bullet">
          <img src="" alt="email-icon">
          <span class="rsm-el-seg-lbl-txt">maxchanturiay@gmail.com</span>
        </li>
      </ul>
    </div>
  </div>
</div>
