/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap')

@import 'material-icons/iconfont/material-icons.css'

@mixin content-not-touching-parent
  padding-left: 0.5em
  padding-right: 0.5em

@mixin def-text
  font-family: 'Raleway', sans-serif
  font-size: 1.1em

@mixin def-sub-title
  font-family: 'Stint Ultra Condensed', cursive
  font-size: 1.7em

@mixin def-title
  font-family: 'Courgette', cursive
  font-size: 2.0em

@mixin image-alt
  background-color: #f1f1f1

@mixin inline-content-aligned-horizontally
  align-items: flex-start
  display: inline-flex
  flex-direction: column

@mixin inline-content-aligned-vertically
  align-items: center
  display: inline-flex
  flex-direction: row

@mixin noselect
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Old versions of Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version */

@mixin offset-to-top($offset-units)
  transform: translateY(-$offset-units)
  transform-origin: top center
  transition: transform 0.5s ease-in
