/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap')

@import 'material-icons/iconfont/material-icons.css'

@mixin content-not-touching-parent
  padding-left: 0.5em
  padding-right: 0.5em

@mixin def-text
  font-family: 'Raleway', sans-serif
  font-size: 1.1em

@mixin inline-flex-column
  display: inline-flex
  flex-direction: column
  flex-wrap: wrap

@mixin offset-to-top($offset-units)
  transform: translateY(-$offset-units)
  transform-origin: top center
  transition: transform 0.5s ease-in
