<h1 appAbtMeRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appAbtMeRsmEl>
    <div class="rsm-el-seg">
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          Solving problems, motorcycles and UFC - that's me in a nutshell :)
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          Software Development for me is communication with clients, product design,
        </span>
        <span class="rsm-el-def-txt">
          grinding on the prototypes, revisiting business requirements
        </span>
        <span class="rsm-el-def-txt">
          and finally - a working product!
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          The development process makes me feel alive each time anew!
        </span>
        <span class="rsm-el-def-txt">Oh and my Kawasaki Vulcan S 650 :P</span>
      </p>
    </div>
  </div>
</div>
