<h1 appAbtMeRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appAbtMeRsmEl>
    <div class="abt-me-seg">
      <img [src]=pngSrcFromBase64(profile.src) alt="profile.alt" class="profile">
      <p>
        <span class="def-text">
          Hello! My name is Maxim Chanturiay, nice to meet you!
        </span>
      </p>
      <p>
        <span class="def-text">
          Solving problems, motorcycles and UFC - that's me in a nutshell :)
        </span>
      </p>
      <p>
        <span class="def-text">
          Most of my time is dedicated to Software Development.
          I take special interest in anything that is related to the Web,
          although backend-related topics are a priority for me.
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="def-text">
          I see Software Engineering as more than just a well constructed product.
          Software Development for me is primarily communication with my clients,
          mutually understood product requirements, thorough product design
          and prototype grinding until the final version is reached.
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="def-text">
          The development process makes me feel alive each time anew!
          Oh and my Kawasaki Vulcan S 650 :P
        </span>
      </p>
    </div>
  </div>
</div>
