<h1 appAbtMeRsmElTitle>{{title}}</h1>
<div class="rsm-el-ctr">
  <div appAbtMeRsmEl>
    <div class="rsm-el-seg">
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          Hello! My name is Maxim Chanturiay, nice to meet you!
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          Solving problems, motorcycles and UFC - that's me in a nutshell :)
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          Most of my time is dedicated to Software Development.
        </span>
        <span class="rsm-el-def-txt">
          I take special interest in anything that is related to the Web,
        </span>
        <span class="rsm-el-def-txt">
          although backend-related topics always outweigh the frontend.
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          I see Software Engineering as more than just a well constructed product.
        </span>
        <span class="rsm-el-def-txt">
          Software Development for me is primarily communication with my clients,
        </span>
        <span class="rsm-el-def-txt">
          mutually understood product requirements, thorough product design
        </span>
        <span class="rsm-el-def-txt">
          and prototype grinding until the final version is reached.
        </span>
      </p>
      <p class="rsm-el-seg-para">
        <span class="rsm-el-def-txt">
          The development process makes me feel alive each time anew!
        </span>
        <span class="rsm-el-def-txt">Oh and my Kawasaki Vulcan S 650 :P</span>
      </p>
    </div>
  </div>
</div>
